In [21]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)

# https://www.kaggle.com/antgoldbloom/d/lukebyrne/horses-for-courses/xgboost-vs-betting-markets

In [24]:
df_market = pd.read_csv("C:/Users/309292/Downloads/horses-for-courses/markets.csv")
df_runners = pd.read_csv("C:/Users/309292/Downloads/horses-for-courses/runners.csv",dtype={'barrier': np.int16,'handicap_weight': np.float16})

In [28]:
df_market.head(5)

,id,timezone,venue_id,race_number,distance,condition_id,weather_id,total_pool_one_win,total_pool_one_place,total_pool_two_win,total_pool_two_place,total_pool_three_win,total_pool_three_place
0,1,2016-06-27 03:00:00,1,3,1200,1,1,29718.08,NaN,11564.5,5373.0,23464.80,5373.0
1,2,2016-06-27 03:05:00,2,2,1200,2,2,16169.99,NaN,12624.0,3681.0,9001.42,3681.0
2,3,2016-06-27 03:30:00,1,4,1400,1,1,12282.57,NaN,13233.0,5816.0,24191.10,5816.0
3,4,2016-06-27 03:40:00,2,3,1400,2,2,13000.05,NaN,14416.5,6568.5,11542.20,6568.5
4,5,2016-06-27 04:00:00,1,5,1600,1,1,16194.21,NaN,16076.5,6875.5,28934.60,6875.5

In [29]:
df_runners.head(5)

,id,collected_at,market_id,position,place_paid,margin,horse_id,trainer_id,rider_id,handicap_weight,number,barrier,blinkers,emergency,form_rating_one,form_rating_two,form_rating_three,last_five_starts,favourite_odds_win,favourite_odds_place,favourite_pool_win,favourite_pool_place,tip_one_win,tip_one_place,tip_two_win,tip_two_place,tip_three_win,tip_three_place,tip_four_win,tip_four_place,tip_five_win,tip_five_place,tip_six_win,tip_six_place,tip_seven_win,tip_seven_place,tip_eight_win,tip_eight_place,tip_nine_win,tip_nine_place
0,4,2016-06-27 02:54:31.800293,1,NaN,1,NaN,4,4.0,4.0,58.5,4,10,f,f,82.0,82.0,14.0,x80x2,f,f,f,f,f,NaN,f,t,f,t,t,t,t,t,f,t,f,t,f,t,t,t
1,2,2016-06-27 02:54:31.765863,1,NaN,1,NaN,2,2.0,2.0,58.5,2,3,f,f,97.0,97.0,8.0,f3,t,t,t,t,t,NaN,t,t,t,t,f,f,f,t,f,t,t,t,f,t,f,t
2,5,2016-06-27 02:54:31.835329,1,NaN,0,NaN,5,5.0,5.0,56.5,5,5,f,f,76.0,76.0,0.0,f7,f,f,f,f,f,NaN,f,f,f,f,f,f,f,t,f,f,f,f,f,f,f,f
3,10,2016-06-27 02:54:31.974395,1,NaN,0,NaN,10,4.0,10.0,56.5,10,11,f,f,100.0,100.0,18.0,22x35,f,f,f,f,f,NaN,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f
4,6,2016-06-27 02:54:31.873492,1,NaN,0,NaN,6,6.0,6.0,56.5,6,12,f,f,85.0,85.0,2.0,f6462,f,f,f,f,f,NaN,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f